parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - tests
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    tmpDir: .phpstan 